@font-face {
    font-family: "Haval";
    src: url("public/font/Haval-Light.otf") format("truetype");
}

body {
    font-family: "Haval";
    margin: 0 auto;
}

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none;
    font-size: 10.66px;
    padding-left: 13px;
}

ul {
    display: flex;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

header {
    color: #FFFFFF;
    background-color: #000000;
}

h1 {
    font-size: 40px;
    text-align: center;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 span {
    color: #00CABF;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 0px;
    padding: 20px;
    font-family: "Haval";
}

button:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

button:active {
    transform: scale(1);
}

.header_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phone {
    display: flex;
    font-size: 15px;
    font-weight: 600;
}

.phone img {
    margin-right: 10px;
}

.header_logos img {
    padding: 20px 10px 14px 10px;
}

.location {
    display: flex;
}

.location p {
    margin: 5px;
    font-size: 12px;
}

.location img {
    margin-right: 5px;
}

.location span p {
    font-size: 13px;
}

.header_models_and_services {
    display: flex;
    justify-content: space-between;
    height: 42px;
}

.models {
    font-weight: 600;
}

.services a {
    font-size: 11px;
}

.header_models_and_services a:hover {
    font-size: 14px;
    transition: all 0.3s ease;
}

.line {
    border-bottom: 1px solid #333333;
}

.cover {
    background-image: url(public/img/div.content.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    height: 756px;
    display: flex;
}

.headline {
    background-image: linear-gradient(to right, #ffffff00 0%, #00000090 38%, #00000090 62%, #ffffff00 100%);
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cover button {
    height: 60px;
    width: 374px;
    background: #00CABF;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.support_button {
    margin-left: 50px;
    margin-bottom: 10px;
    cursor: pointer;
}

.leave_req {
    background-color: #F3F3F3;
}

.leave_req p {
    padding-top: 40px;
}

.leave_req button {
    background: #00CABF;
    color: #ffffff;
    font-size: 16px;
    height: 70px;
    width: 467px;
    font-weight: 600;
}

.timer_and_request {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_list {
    margin-top: 60px;
    margin-bottom: 20px;
}

.haval_m6,
.dargo_x {
    height: 863px;
    width: 560px;
    background-color: #00000010;
}

.availability {
    background: #00CABF;
    height: 42px;
    width: 187px;
    position: absolute;
    margin: -20px 0px 0px 330px;
}

.availability p {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.availability span {
    color: #ffffff;
    margin-bottom: 5px;
}

.car_info {
    border: 1px #CCCCCC solid;
    background: url(public/img/Mask\ group.png);
    background-color: #FFFFFF;
    height: 336px;
    width: 480px;
}

.car_info h2 {
    font-size: 22px;
    margin: 20px 20px 20px 20px;
}

.car_info p {
    margin-left: 20px;
    font-size: 20px;
}

.car_info span {
    color: #00CABF;
}

.test_drive {
    display: flex;
    align-items: center;
    max-width: 150px;
    margin-right: 15px;
    margin-bottom: 40px;
}

.test_drive p {
    font-size: 12px;
    margin: 0px;
}

.test_drive img {
    margin-right: 8px;
}
.test_drive img:hover{
    margin-right: 8px;
    transform: scale(1.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.car_name_and_test_drive {
    display: flex;
    flex-direction: row;
}

.benefits {
    column-count: 2;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 70px;
}

.benefits p {
    font-size: 12px;
    line-height: 1.2;
}


.benefit {
    display: flex;
    text-align: left;
    margin-right: 10px;
    margin-left: 10px;
    width: 240px;
    align-items: center;
}

.benefit a {
    background-color: #000000;
    border-radius: 100%;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.benefit a:hover {
    background-color: #00CABF;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.389);
    transform: scale(1.1);
}

.card_buttons_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22px;
}

.card_buttons {
    height: 60px;
    width: 480px;
    font-size: 13.56px;
    font-weight: 600;
    margin-top: 10px;
}

.what_cost {
    background-color: #00CABF;
    color: #ffffff;
}

.openModalBtn:hover,
.what_cost:hover,
.submit:hover {
    background-color: #000000;
}

.credit {
    background-color: #000000;
    color: #ffffff;
}

.credit:hover {
    background-color: #FFFFFF;
    border: 1px #000000 solid;
    color: #000000;
}

.equipment {
    background-color: #FFFFFF;
    border: 1px #000000 solid;
}

.equipment:hover {
    background-color: #00CABF;
    color: #FFFFFF;
    border: none;
}



.cars {
    display: flex;
    justify-content: space-evenly;
}

.cars_not_count span {
    margin-top: 7px;
}

/* Стили для модального окна */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #1B1B1B;
    margin: 15% auto;
    padding: 20px;
    max-width: 500px;
    height: 550px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
}

.close {
    color: #00CABF;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

.modal_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.modal_text p {
    color: #FFFFFF;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

input {
    width: 324px;
    height: 40px;
    font-size: 16px;
}

.submit {
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-color: #00CABF;
    color: #FFFFFF;
}

.dargo_short {
    margin-left: 216px;
}

/* Стили для селектора */

.swiper {
    height: 300px;
}

.swiper-pagination-bullet-active {
    border: 5px #ffffff solid;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.044);
}

span.swiper-pagination-bullet {
    height: 28px;
    width: 28px;
}

.swiper-pagination-bullet {
    opacity: 1 !important;
}

.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* M6 selector colors */

.swiper-pagination-bullet:nth-child(1) {
    background-color: #000000;
}

.swiper-pagination-bullet:nth-child(2) {
    background-color: #E7E7E7;
}

.swiper-pagination-bullet:nth-child(3) {
    background-color: #A1A1A1;
}

/* Dargo selector colors */

.dargo .swiper-pagination-bullet:nth-child(1) {
    background-color: #A1A1A1;
}

.dargo .swiper-pagination-bullet:nth-child(2) {
    background-color: #000000;
}

.dargo .swiper-pagination-bullet:nth-child(3) {
    background-color: #E7E7E7;
}

.dargo .swiper-pagination-bullet:nth-child(4) {
    background-color: #A13A21;
}